@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

:root {
    --color-primary: hsl(26, 100%, 55%);
    --Very-vark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;

}

/*Seccion header*/

.contenedorHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 10rem 0 10rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--grayish-blue);
}

/*Seccion header 1(titulo - nav)*/

.contenedorHeader .contenedorHeader-1 {
    display: flex;
    align-items: center;
}

.contenedorHeader .contenedorHeader-1 .contenedor-bars {
    display: none;
}

.contenedorHeader .contenedorHeader-1 .contenedorTituloHeader {
    margin-right: 50px;
}

.contenedorHeader .contenedorHeader-1 .tituloHeader {
    color: var(--Very-vark-blue);
}

.contenedorHeader .contenedorHeader-1 .contenedorNavHeader nav a {
    text-decoration: none;
    color: var(--grayish-blue);
    margin-right: 5px;
    padding-bottom: 3rem;
}

.contenedorHeader .contenedorHeader-1 .contenedorNavHeader nav a:hover {
    color: var(--Very-vark-blue);
    border-bottom: 3px solid var(--color-primary);
}

/*Seccion header 2 (carro de compras - perfil usuario)*/

.contenedorHeader .contenedorHeader-2 {
    display: flex;
    align-items: center;
}

.numeroDeProductos {
    display: none;
    position: relative;
    z-index: 3;
    bottom: .8rem;
    left: 2.2rem;
    padding: .1px 10px;
    background-color: var(--color-primary);
    border-radius: 20px;
}

.numeroDeProductos p {
    color: var(--light-grayish-blue);
    font-weight: bolder;
    font-size: 12px;
}

.contenedorHeader .contenedorHeader-2 .contenedorCartIcon {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.contenedorHeader .contenedorHeader-2 .contenedorImgUsuario {
    position: relative;
    z-index: 2;
    margin-left: 2rem;
}
.contenedorHeader .contenedorHeader-2 .contenedorImgUsuario img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.contenedorHeader .contenedorHeader-2 .contenedorImgUsuario img:hover {
    border: 2px solid var(--color-primary);
}

/*Banner sobre informacion del carro de compras*/

.contenedorBannerListaProductosCarro {
    position: absolute;
    right: 0px;
}

.contenedorBannerListaProductosCarro .contenedorElementosBanner {
    display: none;
    flex-direction: column;
    position: relative;
    top: 9rem;
    right: 8.5rem;
    box-shadow: -10px 2px 20px 2px rgba(0, 0, 0, .1);
    background-color: white;
    border-radius: 7px;
    width: 20rem;
    height: 14rem;
}

.contenedorBannerListaProductosCarro .contenedorElementosBanner .contenedorTituloCart {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid var(--grayish-blue);
    color:var(--Very-vark-blue);
    font-weight: bolder;
}

.contenedorBannerListaProductosCarro .contenedorElementosBanner .contenedorListaCarrito {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contenedorBannerListaProductosCarro .contenedorElementosBanner .contenedorListaCarrito div p {
    color: var(--dark-grayish-blue);
    font-weight: bolder;
}

.productosEnCarro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.productosEnCarro div figure img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.productosEnCarro .productosEnCarro-elementos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.productosEnCarro .productosEnCarro-elementos .contenedorIconoDelete figure img {
    width: 21px;
    height: 21px;
    cursor: pointer;
}


.productosEnCarro .productosEnCarro-checkout {
    background-color: var(--color-primary);
    color: var(--white);
    font-weight: bolder;
    align-self: center;
    padding: 15px 110px;
    border-radius: 7px;
    cursor: pointer;
}

/*Seccion Main*/

.contenedorPrincipalMain {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4.5rem;
    margin: 5rem 9rem 5rem 15rem;
    max-height: 100vh;
}

/*Seccion main fotos del producto*/
.contenedorPrincipalMain .seccionVistaDeZapatos .contenedorZapatoIndividual img {
    width: 25rem;
    height:25rem;
    border-radius: 10px;
    cursor: pointer;
}

.contenedorPrincipalMain .seccionVistaDeZapatos .contenedorDeZapatos {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.contenedorPrincipalMain .seccionVistaDeZapatos .contenedorDeZapatos .imagenes{
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    cursor: pointer;
}


.contenedorPrincipalMain .seccionVistaDeZapatos .contenedorDeZapatos .imagenes:focus{
    outline: 2px solid var(--color-primary);
    opacity: .4;
}

/*POP UP DE IMAGENES EN EL MAIN*/
.contenedorPopUpImagenes {
    display: none;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, .8);
}

.contenedorPopUpImagenes .contenedorElementosPopUp {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contenedorPopUpImagenes .contenedorElementosPopUp .contenedorBotonClose{
    position: relative;
    left: 11.5rem;
    bottom: .5rem;
    cursor: pointer;
}

.contenedorPopUpImagenes .contenedorElementosPopUp .contenedorImagenPrincipal {
    display: flex;
    align-items: center;
}

.contenedorPopUpImagenes .contenedorElementosPopUp .contenedorImagenPrincipal .img-principal {
    width: 24rem;
    height: 24rem;
    border-radius: 10px;
}

.contenedorPopUpImagenes .contenedorElementosPopUp .contenedorImagenes {
    margin-top: 1rem;
}

.contenedorPopUpImagenes .contenedorElementosPopUp .contenedorImagenes figure .imagenes {
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    cursor: pointer;
}

.contenedorPopUpImagenes .contenedorElementosPopUp .contenedorImagenes figure .imagenes:hover {
    outline: 2px solid var(--color-primary);
    opacity: .5;
}

.contenedorPopUpImagenes .contenedorElementosPopUp .contenedorImagenPrincipal .contenedorBtn-next,
.contenedorPopUpImagenes .contenedorElementosPopUp .contenedorImagenPrincipal .contenedorBtn-previous {
    border-radius: 5em;
    padding: .5rem;
    background-color: var(--white);
}

.contenedorPopUpImagenes .contenedorElementosPopUp .contenedorImagenPrincipal .contenedorBtn-previous img, 
.contenedorPopUpImagenes .contenedorElementosPopUp .contenedorImagenPrincipal .contenedorBtn-next img {
    cursor: pointer;
}
.contenedorPopUpImagenes .contenedorElementosPopUp .contenedorImagenPrincipal .contenedorBtn-previous img:hover, 
.contenedorPopUpImagenes .contenedorElementosPopUp .contenedorImagenPrincipal .contenedorBtn-next img:hover {
    color: var(--color-primary);
}
/*seccion Main de compra*/

.contenedorPrincipalMain .seccionCompraZapato {
    width: 50%;
}  

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorTituloProducto p{
    color: var(--color-primary);
    font-weight: bolder;
    margin-bottom: 10px;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorTituloProducto h2 {
    color: var(--Very-vark-blue);
    font-size: 3rem;
    font-weight: bolder;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .descripcionProducto {
    color: var(--dark-grayish-blue);
    font-weight: 100;
    margin: 0 3rem 1rem 0;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorPrecio div {
    display: flex;
    margin-bottom: 7px;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorPrecio .precio {
    font-size: 25px;
    font-weight: bolder;
    margin-right: 1rem;
    color: var(--Very-vark-blue);
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorPrecio .descuento {
    align-self: center;
    color: var(--color-primary);
    background-color: hsl(26, 100%, 90%) ;
    font-weight: bolder;
    padding: 5px 8px;
    border-radius: 5px;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorPrecio .precioSinDescuento {
    text-decoration: line-through;
    color: var(--grayish-blue);
    font-weight: 700;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorAniadirCarro {
    display: flex;
    align-items: center;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorCantidadProductos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    background-color: var(--light-grayish-blue);
    width: 8rem;
    padding: 5px 15px;
    border-radius: 5px;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorCantidadProductos .simbolos {
    border: none;
    background-color: transparent;
    color: var(--color-primary);
    font-weight: bolder; 
    font-size: 1.5rem;
    cursor: pointer;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorCantidadProductos .precio {
    color: var(--Very-vark-blue);
    font-weight: 700;
} 

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .btn-aniadirCarro::before {
    content: url(../../images/icon-cart-btnCompra.svg);
    margin-right: 1rem;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .btn-aniadirCarro {
    background-color: var(--color-primary);
    color: var(--light-grayish-blue);
    font-weight: 900;
    padding: 10px 70px; 
    border-radius: 7px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 8px 2px hsl(30, 100%, 90%);
}

/*MEDIA QUERIES*/

@media all and (max-width: 500px) {
    
}