@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

:root {
    --color-primary: hsl(26, 100%, 55%);
    --Very-vark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;

}

body {
    margin: 0 10rem;
}

/*Seccion header*/

.contenedorHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--grayish-blue);
}

.contenedorHeader .contenedorHeader-1 {
    display: flex;
    align-items: center;
}

.contenedorHeader .contenedorHeader-1 .contenedorTituloHeader {
    margin-right: 50px;
}

.contenedorHeader .contenedorHeader-1 .tituloHeader {
    color: var(--Very-vark-blue);
}

.contenedorHeader .contenedorHeader-1 .contenedorNavHeader nav a {
    text-decoration: none;
    color: var(--grayish-blue);
    margin-right: 5px;
    padding-bottom: 3rem;
}

.contenedorHeader .contenedorHeader-1 .contenedorNavHeader nav a:hover {
    color: var(--Very-vark-blue);
    border-bottom: 3px solid var(--color-primary);
}

.contenedorHeader .contenedorHeader-2 {
    display: flex;
    align-items: center;
}

.contenedorHeader .contenedorHeader-2 .contenedorCartIcon {
    cursor: pointer;
}

.contenedorHeader .contenedorHeader-2 .contenedorImgUsuario {
    margin-left: 2rem;
}
.contenedorHeader .contenedorHeader-2 .contenedorImgUsuario img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.contenedorHeader .contenedorHeader-2 .contenedorImgUsuario img:hover {
    border: 2px solid var(--color-primary);
}

/*Banner sobre informacion del carro de compras*/

.contenedorBannerListaProductosCarro {
    position: absolute;
    right: 0px;
}

.contenedorBannerListaProductosCarro .otro {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 9rem;
    right: 12rem;
    z-index: 2;
    box-shadow: -8px 8px 20px 2px rgba(0, 0, 0, .1);
    background-color: white;
    border-radius: 7px;
    width: 20rem;
    height: 14rem;
}

.contenedorBannerListaProductosCarro .otro .contenedorTituloCart {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid var(--grayish-blue);
    color:var(--Very-vark-blue);
    font-weight: bolder;
}

.contenedorBannerListaProductosCarro .otro .contenedorListaCarrito {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--dark-grayish-blue);
    font-weight: bolder;
}


/*Seccion Main*/

.contenedorPrincipalMain {
    display: flex;
    margin: 5rem 3rem 0 3rem;
    max-height: 100vh;
    gap: 4rem;
}

.contenedorPrincipalMain .seccionVistaDeZapatos .contenedorZapatoIndividual img {
    width: 25rem;
    height:25rem;
    border-radius: 10px;
}

.contenedorPrincipalMain .seccionVistaDeZapatos .contenedorDeZapatos {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.contenedorPrincipalMain .seccionVistaDeZapatos .contenedorDeZapatos img{
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    cursor: pointer;
}

/*seccion de compra*/

.contenedorPrincipalMain .seccionCompraZapato {
    min-height: 100%;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorTituloProducto p{
    color: var(--color-primary);
    font-weight: bolder;
    margin-bottom: 10px;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorTituloProducto h2 {
    color: var(--Very-vark-blue);
    font-size: 3rem;
    font-weight: bolder;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .descripcionProducto {
    color: var(--dark-grayish-blue);
    font-weight: 100;
    margin: 0 3rem 1rem 0;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorPrecio div {
    display: flex;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorPrecio .precio {
    font-size: 25px;
    font-weight: bolder;
    margin-right: 1rem;
    color: var(--Very-vark-blue);
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorPrecio .descuento {
    align-self: center;
    color: var(--color-primary);
    background-color: hsl(26, 100%, 90%) ;
    font-weight: bolder;
    padding: 5px 8px;
    border-radius: 5px;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorPrecio .precioSinDescuento {
    text-decoration: line-through;
    color: var(--grayish-blue);
    font-weight: 700;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorAniadirCarro {
    display: flex;
    align-items: center;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorCantidadProductos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    background-color: var(--light-grayish-blue);
    width: 8rem;
    padding: 5px 15px;
    border-radius: 5px;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorCantidadProductos .simbolos {
    color: var(--color-primary);
    font-weight: bolder; 
    font-size: 1.5rem;
    cursor: pointer;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .contenedorCantidadProductos .precio {
    color: var(--Very-vark-blue);
    font-weight: 700;
} 

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .btn-aniadirCarro p::before {
    content: url(../../images/icon-cart-btnCompra.svg);
    margin-right: 1rem;
}

.contenedorPrincipalMain .seccionCompraZapato .contenedorElementosSeccionZapato .btn-aniadirCarro {
    background-color: var(--color-primary);
    color: var(--light-grayish-blue);
    font-weight: 900;
    padding: 10px 70px; 
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 5px 8px 2px hsl(30, 100%, 90%);
}